{% extends 'myshop/base.html' %}
{% load static %}
{% block title %} Password Reset {% endblock title %}
{% block main-content %}
<div clas="container my-5">
    <div class="row">
        <h3> Welcome, {{request.user.name | capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>

            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1">
            <p>Password reset successful </p>
            <div>
                <iframe src="https://giphy.com/embed/83pJ6Gsj4AuHnqI4Ni" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/tekaeApp-sticker-loop-tekae-83pJ6Gsj4AuHnqI4Ni"></a></p>
            </div>
            </div>
    </div>
</div>
{% endblock main-content %}
